<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-Grid">
                        <h5 class="card-title">Forgot Password</h5>
                        <p class="card-category">(Non AD Users Only*)</p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" [formGroup]="ForgotPasswordForm">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Id" type="text" formControlName="EmailId">
                                        <mat-error *ngIf="EmailId.hasError('email')">
                                            Please enter a valid Email Id
                                        </mat-error>
                                        <mat-error *ngIf="EmailId.hasError('maxlength')">
                                            This field should have less than 100 characters
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" style="margin-left:120px;">
                                Or
                            </div>
                            <div class="row">
                                <div class="col-md-8" style="margin-bottom: 15px;">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Login Id" type="text" formControlName="LoginId">
                                        <mat-error *ngIf="LoginId.hasError('pattern')">
                                            Please enter a valid Login Id
                                        </mat-error>
                                        <mat-error *ngIf="LoginId.hasError('maxlength')">
                                            This field should have less than 100 characters
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="reset" matTooltip="Close" class="btn btn-warning pull-right"
                                    (click)="closeDialog()">Close
                            </button>
                            <button mat-raised-button type="submit" matTooltip="Generate New Password"
                                    class="btn btn-success pull-right" (click)="generateNewPassword()">Submit
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
